@model MyCvModel
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My CV</title>
       
    </head>
    <body>
        <title>İletişim Bilgilerim</title><br/>
        <h1>İletişim Bilgilerim</h1><br/>
        <p1>@Model.Email</p1><br/>
        <p2>@Model.github</p2><br/>
        <p3>@Model.linkedin</p3><br/>
        <title>Eğitim ve Tecrübelerim</title><br/>
        <h2>Eğitim ve Tecrübelerim</h2><br/>
        <p5>@Model.Education</p5><br/>
        <p6>@Model.Experience</p6><br/>
        <p7>@Model.Skills</p7><br/>
        <p8>@Model.Languages</p8><br/>  

    </body>
</html>