@model IEnumerable<Siparis>
<h2>Siparisler Listesi</h2>
<a asp-controller="Siparis" asp-action="Create" class="btn btn-primary">Yeni Siparis Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.SiparisId)</th>
            <th>@Html.DisplayNameFor(m => m.UrunId)</th>
   
          
         

            <th style="width: 150px;">Ayarlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SiparisId)</td>
                <td>@Html.DisplayFor(modelItem => item.UrunId)</td>
               

                <td><a asp-controller="Siparis" asp-action="Edit" asp-route-Id="@item.SiparisId"
                        class=" btn btn-sm btn-warning">Düzenle</a>
                <td><a asp-controller="Siparis" asp-action="Delete" asp-route-Id="@item.SiparisId"
                        class=" btn btn-sm btn-danger">Sil</a>

                </td>
            </tr>
        }
    </tbody>
</table>